<nav class="grey darken-3">
    <div class="nav-wrapper container">
      <a href="https://quizinc.in" class="brand-logo">QuizInc</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="https://quizinc.in">Contact Us</a></li>
        <li><a class="waves-effect waves-light btn" href="/auth/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Home</a></li>
    <li><a href="https://quizinc.in">Contact Us</a></li>
    <li><a href="/auth/logout">Log Out</a></li>

  </ul>

{{!-- <nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="https://quizinc.in" class="brand-logo center">QuizInc</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
        </ul>


    </div>
</nav> --}}