<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Quiz | Login</title>
</head>

<body>

    <div class="context">
        <div class="row">

            <div class="col s12 m6 l4">

                <div class="container login-container">
                    <div class="card">
                        <div class="card-content">
                            {{{body}}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col s12 m6 l8">
                <div class="container rules">
                    <h2 class="center">Rules of the quiz</h2>

                    <ol class="flow-text">
                        <li>ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>voluptas mollitia laudantium perferendis, alias eos deleniti repellat dolor fugiat </li>
                        <li> sunt blanditiis? Dignissimos eligendi molestiae consequuntur.</li>
                        <li> laborum iusto neque vitae suscipit nobis sunt modi, labore tenetur, facilis, cumque tempore
                            ea
                        </li>
                    </ol>
                </div>
            </div>
        </div>


    </div>


    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>